body {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: linear-gradient(
      0deg,
      rgba(105, 105, 105, 0.2),
      rgba(105, 105, 105, 0.2)
    ),
    url("./images/9e0b5a1bf814bf6a4455b7ca0225fbc3d81d7e57.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  color: #fff;
}

a:hover {
  color: gray;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  min-height: 70px;
}

header a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 18px;
}

header ul,
footer ul {
  padding: 0;
  margin: 0 auto;
}

header li,
footer li {
  display: inline;
  padding: 0 20px;
}

#brand {
  float: left;
}

#brand h1 {
  margin: 0 0 0 30px;
}

header nav {
  text-align: center;
  margin-top: 40px;
}

#main-text {
  margin-top: 50px;
  float: left;
  width: 40%;
}

#main-text h1 {
  font-size: 60px;
  line-height: 1.3em;
  margin: 0;
}

#main-text p {
  color: #d1d1d1;
  font-size: 20px;
}

#main-form {
  margin-top: 50px;
  float: right;
  width: 40%;
  text-align: center;
}

form {
  border: 2px solid gray;
  border-radius: 5px;
  border-bottom: none;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 0.2px solid gray;
  display: block;
  width: 100%;
  padding: 20px 0 20px 0;
}

::placeholder {
  color: #f4f4f4;
  font-size: 16px;
  padding: 20px;
}

.signUpBtn {
  border: none;
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #2c99ed;
  color: #fff;
  font-size: 16px;
}

#main-form p {
  color: #808080;
  font-size: 14px;
  margin-bottom: 0;
}

#main-form a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 14px;
}

footer p {
  float: left;
  padding-left: 20px;
  padding-bottom: 10px;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

footer nav {
  float: right;
  padding-right: 20px;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}

@media (max-width: 768px) {
  body {
    background-size: auto 100%;
    background-attachment: fixed;
  }
  header #brand,
  header nav,
  header nav li,
  footer p,
  footer nav,
  footer nav li {
    float: none;
    text-align: center;
    width: 100%;
  }

  header #brand h1 {
    padding-top: 20px;
    margin-left: 0;
  }

  #main-text,
  #main-form {
    float: none;
    width: 100%;
  }

  #main-text h1 {
    font-size: 30px;
  }

  #main-text p {
    font-size: 14px;
  }

  #main-form input,
  #main-form button {
    padding: 10px;
  }

  footer {
    position: relative;
  }
}
